<div class="container">

	<div class="signin-content row justify-content-center">

		<div class="col-12 col-md-6 order-md-12 align-self-center">
			<div class="signin-form">

			{{profile-form
				user=user
				person=person
				onSubmit=(action "updateProfile")
				errorMessages=errorMessages
				isEmailInputHidden=isEmailInputHidden
			}}

			</div>
		</div>

		<div class="col-12 col-md-6 order-md-1 align-self-center">
			<div class="signin-image text-center">
				<figure>
					<img src="/assets/img/login-image.png" class="img-fluid mx-auto" alt="sing up image">
				</figure>
				{{#unless user}}
					{{#link-to (r "register") class="btn btn-login"}}{{t 'auth.register_form_header'}}{{/link-to}}
				{{/unless}}
			</div>
		</div>

	</div>

</div>
