<div class="kt-portlet">
    {{yield (hash
        head=(component 'metronic/portlet-head')
        body=(component 'metronic/portlet-body')
        foot=(component 'metronic/portlet-foot')
    )}}
</div>
