<div class="kt-portlet">
    {{yield (hash
        head=(component 'metronic/portlet-head')
        body=(component 'metronic/portlet-body')
        foot=(component 'metronic/portlet-foot')
        submit=(component 'metronic/m-button'
            label=(t 'button.submit')
            type="submit"
            class="btn btn-primary")
        cancel=(component 'metronic/m-button' label=(t 'button.cancel'))
    )}}
</div>
