<div class="kt-subheader-search ">
    <div class="kt-container  kt-container--fluid ">
        <h3 class="kt-subheader-search__title">
            {{ title }}
            <span class="kt-subheader-search__desc">{{ description }}</span>
        </h3>
    </div>
</div>
{{yield}}
