<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Sukses Verifikasi Email</h1>
        <p class="lead text-muted">Selamat email Anda telah terverifikasi. Semua pemberitahuan dan update mengenai system dan product kami dapat Anda dapatkan melalui inbox email Anda.</p>
		<p class="lead text-muted text-danger"><i class="material-icons">info</i>Note: Periksa <i>"Spam"</i> pada email Anda jika tika mendapatkan notifikasi email dari kami.</p>
        <p>
            {{#link-to (r 'dashboard') class="btn btn-primary my-2"}}<i class="material-icons">dashboard</i> Dashboard{{/link-to}}
        </p>
    </div>
</section>
