<div class="form-group">
    <div class="kt-checkbox-list">
        <label class="kt-checkbox">
            {{input
                type="checkbox"
                checked=value
                change=(action "toggleChecked" value="target.checked")
            }}
            {{label}}
            <span></span>
        </label>
    </div>

    {{#each err as |error|}}
        <div class="kt-font-danger">
            {{error.message}}
        </div>
    {{/each}}
</div>
{{yield}}
