<div class="form-group">
    <label for="checkbox-input">{{label}}</label>
    <div class="kt-checkbox-list">
        {{#each lists as |list|}}
            <label class="kt-checkbox">
                <input type="checkbox" onchange="">
                {{list.name}}

                <span></span>
            </label>
        {{/each}}
    </div>
</div>