<div class="form-group">
    <label>{{label}}</label>
    <div>
        <span class="kt-switch">
            <label>
                <input type="checkbox" onchange={{action "setData"}} id="m-checkbox" value={{value}}>
                <span></span>
            </label>
        </span>
    </div>
</div>