<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			{{#link-to (r 'dashboard')}}{{t 'dashboard'}}{{/link-to}}
		</li>
	</ol>
</nav>

<div class="container">

	<div class="signin-content mt-5 row">

		<div class="signin-image col-12 col-sm-5 col-md-6 col-lg-4">
			<figure><img src="/assets/img/login-image.png" alt="sing up image"></figure>
			{{#link-to (r "register") class="signup-image-link"}}Buat akun baru{{/link-to}}
		</div>

		<div class="signin-form col-12 col-sm-7 col-md-6 col-lg-4">

			{{reset-password-form
				onSubmit=(action "resetPassword")
				errorMessages=errorMessages
			}}

		</div>

	</div>

</div>

{{outlet}}
